* {







	margin: 0;







	padding: 0;







	}







body{







	margin-top : 10px;







	margin-bottom : 10px;







	background : #333333;







	font-family : verdana,arial,sans-serif;







	font-size : 12px;







	text-align : center;







}















#page{







	width : 750px;







	height : 100%; 







	margin : 0px auto;







	text-align : left;







	color : #333333;







	/*background: url(../images/ski-22.gif);*/







	background-repeat : no-repeat;







	overflow: visible;







	background-color: #bcc0c2;







}























#top{







background : #333333;







}















#left{







	float : left;







	width : 200px;







	min-height: 600px;







	margin : 0px;







	padding: 0px;







	background-color: #334e57;







	height:650px;







	















}







#main{







	overflow: auto;







	width : 532px;







	height: 600px;







	padding:10px;







	







}















.cssmenu{







	color : #ffffff;







	width : 100%;







	height:100%;







}















.cssmenu a{







	/*background-color : #efefef;*/







	display : block;







	margin : 0px;







	width : 96%;







	padding : 4px;







	font-weight : bold;







	text-decoration : none;







	color : #ffffff;







	font-size : 12px;







	border-bottom : 1px dashed #cccccc;







	letter-spacing : 2px;







}















htmlbody .cssmenu a {width : auto}







.cssmenu a:hover{







	background-color : #ffffff;







	color : #000000;







	text-decoration : none;







	







}







a:link,a:active,a:visited{







	color : #ffffff;







	text-decoration : none;







	font-size : 12px;







	font-weight : bold;







}







a:hover{







	color : #000000;







	text-decoration : underline;







	width:auto;







}















.clear{















	clear : both;















}















a.emaillink:link {color: #000000; text-decoration: none; }






}


#main .linkpebbels a{ color: red; text-decoration:none; }































#bottombar{







	width : 750px;







	height : 30px;







	margin : 0px auto;	







	background-color: #334e57;







	background-repeat : repeat y;







	







}







#bottombartext{







	left: 10px;







	color : white;







	text-align : center;







	padding: 5px;







	}



	















